---
layout: default
---
<section>
    <div class="container">
        <header class="major">
            <h2>{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>
          
        <div id="fb-root"></div>
        
        
        <section class="post-content">
            {{ content }}
        </section>
        
        <div class="share-page">
 
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="twitter-share-button" data-show-count="false" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    
            <div class="share-widget">
  <a href="https://www.facebook.com/sharer.php?u={{ site.url }}/{{ page.url }}&title={{ page.title }}" title="Share on Facebook" target="_blank">Share on Facebook</a></div>

          
        <div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
            
            </div>            
 
        
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        </footer>

    </div>

</section>
